@model Inwinteck_CRM.Models.ForgotPasswordViewModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inwinteck - Forget Password</title>


    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css">
</head>
<body>


    <div class="auth-wrapper">
        <!-- [ reset-password ] start -->
        <div class="auth-content">
            <div class="card">
                <div class="row align-items-center text-center">
                    <div class="col-md-12">
                        <div class="card-body">
                            <a href="@Url.Action("Login","Account")">
                                <img class="img-fluid mb-4" src="~/assets/images/logo-L.png" alt="image">
                                </a>

                                <h4 class="mb-3 f-w-400">Reset your password</h4>

                                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.ValidationSummary("", new { @class = "text-danger" })

                                    <div class="form-group mb-4">
                                        <label class="floating-label" for="Username">Email address</label>
                                        <input type="email" class="form-control" name="Email" id="Username">
                                    </div>
                                    <button type="submit" class="btn btn-block btn-primary mb-4">Reset password</button>
                                    <p class="mb-0 text-muted" style="color: #37474f!important;">Don’t have an account? <a href="@Url.Action("Inwin_Engg","Account")" class="f-w-400">Signup</a></p>


                                }


</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ reset-password ] end -->
    </div>

    <!-- Required Js -->
    <script src="~/assets/js/vendor-all.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/ripple.js"></script>
    <script src="~/assets/js/pcoded.min.js"></script>
</body>



</html>