@{
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inwinteck - Forget Password</title>


    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css">
</head>
<body>


    <div class="auth-wrapper">
        <!-- [ reset-password ] start -->
        <div class="auth-content">
            <div class="card">
                <div class="row align-items-center text-center">
                    <div class="col-md-12">
                        <div class="card-body">
                            <a href="@Url.Action("Login","Account")">
                                <img class="img-fluid mb-4" src="~/assets/images/logo-L.png" alt="image">
                            </a>

                            <h4 class="mb-3 f-w-400">Reset your password</h4>

                                <div class="form-group mb-4">
                                    <p class="mb-0 text-muted" style="color: #37474f!important;"> Please check your email to reset your password.</p>
</div>
                                   <p class="mb-0 text-muted" style="color: #37474f!important;">Don’t have an account? <a href="@Url.Action("Inwin_Engg","Account")" class="f-w-400">Signup</a></p>


                    


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ reset-password ] end -->
    </div>

    <!-- Required Js -->
    <script src="~/assets/js/vendor-all.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/ripple.js"></script>
    <script src="~/assets/js/pcoded.min.js"></script>
</body>



</html>

	
