
@{
    ViewBag.Title = "UnAuthorisedAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>Dashboard</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Index</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">

    <!-- latest-section start -->
    <div class="col-xl-12 col-md-12 text-center">
        <h2 style="color: #84c234;">You Are Not Authorised To Access.!!</h2>
        </div>
    </div>

